@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.Admin_Panel{

    display:flex;
    flex-direction: column;

    /* background-color: rgb(241, 241, 241); */
    background-color: white;

}

.admin_panel_heading{

    -webkit-box-shadow: 0px 6px 21px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 21px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 21px -1px rgba(0,0,0,0.75);

    border-radius: 0px 0px 10px 10px;

    position: sticky;
    
    background-color: rgb(241, 241, 241);
    


}

table,td,th{
    border: 2px solid rgb(27, 26, 26);
    border-collapse: collapse;
}


.admin_table_row:nth-child(even)
{
    background-color: rgb(186, 186, 186);
}

.admin_table_head{
    
}


.admin_panel_heading > p{

    
    font-family: ubuntu;
    font-size: 25px;
    font-weight: bold;
    text-align: center;

    
}

.form_addfield{

    display: flex;
    flex-direction: row;

    justify-content: space-evenly;

    
}

#input_field{

    padding:6px;

}


#button__add{

    -webkit-border-radius: 5;
    -moz-border-radius: 5;

    border-radius: 5px;
    border: solid #00b32a 2.5px;

    font-family: Arial;
    color: #fcfcfc;
    font-size: 16px;
    font-weight: bold;

    padding: 11px 24px 10px 20px;
    width: 150px;
 
    text-decoration: none;

    background: #34d93f;

    cursor:pointer;
  }
  
  #button__add:hover {

    background: #25f53d;
    text-decoration: none;

  }

  .admin_table{

    /* display: flex; */
    /* flex-direction: column; */
    
    /* justify-content: center; */
    margin-left: auto;
    margin-right: auto;


  }

#admin_table_cell{

    width:170px;
}
  
#admin_table_cell_action{

    width: 220px;
}